[submodule "native/libs/libevent"]
	path = native/libs/libevent
	url = https://github.com/libevent/libevent.git
[submodule "native/libs/openssl"]
	path = native/libs/openssl
	url = https://github.com/openssl/openssl.git
[submodule "native/libs/tor"]
	path = native/libs/tor
	url = https://git.torproject.org/tor.git
[submodule "native/libs/xz"]
	path = native/libs/xz
	url = https://git.tukaani.org/xz.git
